In [55]:
#importamos sqlite3, que nos permite ejecutar comandos de lenguaje sql
import sqlite3
#usamos sqlite3.connect para crear o leer una bases de datos de formato SQL, tambien puede ser en memoria con ':memory:'
connection = sqlite3.connect("capitales.db")

In [57]:
#utilizamos connection.cursor para poder usar comandos de sql 
cursor = connection.cursor()

In [61]:


#creamos una tabla con CREATE TABLE y sus especificaciones con un objeto de nombre sql_command
sql_command = """
CREATE TABLE europa ( 
indice INTEGER PRIMARY KEY, 
capital VARCHAR(30), 
pais VARCHAR(30), 
poblacion INTEGER);"""

#ejecutamos el comando sql de sql_command con cursor.execute
cursor.execute(sql_command)

#agregamos información a la tabla con los comandos de SQL INSERT INTO y VALUES, después ejecutandolo con cursor.execute
sql_command = """INSERT INTO europa (indice, capital, pais, poblacion)
    VALUES (NULL, "Moscú", "Rusia", 10190287);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO europa (indice, capital, pais, poblacion)
    VALUES (NULL, "Londres", "Reino Unido", 8174100);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO europa (indice, capital, pais, poblacion)
    VALUES (NULL, "Ankara", "Turquía", 4466756);"""
cursor.execute(sql_command)

# hacemos un commit para que se guarden los cambios, similar a GitHub
connection.commit()

In [62]:

#creamos otra tabla de nombre america
sql_command = """
CREATE TABLE america ( 
indice INTEGER PRIMARY KEY, 
capital VARCHAR(30), 
pais VARCHAR(30),
poblacion INTEGER);"""
cursor.execute(sql_command)

In [63]:
#Haciendo una lista podemos usar un ciclo para agregar a la tabla información
staff_data =[ ( "Buenos Aires", "Argentina", 3075646 ),
               ("CDMX", "México", 8998653 ),
               ("Brasilia", "Brasil", 3015268)]
               
for p in staff_data:
    format_str = """INSERT INTO america (indice, capital, pais, poblacion)
    VALUES (NULL, "{cap}", "{pai}", "{pob}");"""

    sql_command = format_str.format(cap=p[0], pai=p[1], pob=p[2])
    cursor.execute(sql_command)

In [64]:
#Con cursor.fetchall podemos leer la información de la tablas
cursor.execute("SELECT * FROM america") 
print("fetchall:")
result = cursor.fetchall() 
for r in result:
    print(r)

#Con cursor.fetchone leemos el primer valor de la tabla 
cursor.execute("SELECT * FROM america") 
print("\nfetch one:")
res = cursor.fetchone() 
print(res)

fetchall:
(1, 'Buenos Aires', 'Argentina', 3075646)
(2, 'CDMX', 'México', 8998653)
(3, 'Brasilia', 'Brasil', 3015268)

fetch one:
(1, 'Buenos Aires', 'Argentina', 3075646)

In [65]:
#De manera más compacta se puede escribir como:
cursor.execute("select * from america limit 2;") #limit nos indica cuantos elementos va a mostrar
results = cursor.fetchall()
print(results)

cursor.execute("select * from europa;") #sin límite nos muestra todos los valores de la tabla
results = cursor.fetchall()
print(results)

[(1, 'Buenos Aires', 'Argentina', 3075646), (2, 'CDMX', 'México', 8998653)]
[(1, 'Moscú', 'Rusia', 10190287), (2, 'Londres', 'Reino Unido', 8174100), (3, 'Ankara', 'Turquía', 4466756)]

In [66]:
#podríamos usar request para hacer una lista y alimentar el ciclo para hacer una tabla donde no tengamos que escribir la información
import os
import requests
import pandas as pd
url='https://es.wikipedia.org/wiki/Anexo:Capitales_de_Europa_por_población'#tabla en wikipedia de capitales y población de Europa
html=requests.get(url).content
df=pd.read_html(html)[0]
lista2=df.drop('Nº', axis=1)
lista=lista2.values.tolist()

#creamos otra tabla para no perder la anterior
sql_command = """
CREATE TABLE europa2 ( 
indice INTEGER PRIMARY KEY, 
capital VARCHAR(30), 
pais VARCHAR(30), 
poblacion INTEGER);"""
cursor.execute(sql_command)


staff_data =lista   
for p in staff_data:
    format_str = """INSERT INTO europa2 (indice, capital, pais, poblacion)
    VALUES (NULL, "{cap}", "{pai}", "{pob}");"""

    sql_command = format_str.format(cap=p[0], pai=p[1], pob=p[2])
    cursor.execute(sql_command)

cursor.execute("select * from europa2;") #sin límite nos muestra todos los valores de la tabla
results = cursor.fetchall()
print(results)

[(1, 'Moscú', 'Rusia', '10 190 287'), (2, 'Londres', 'Reino Unido', '8 174 100'), (3, 'Ankara (en Asia)', 'Turquía', '4.466.756'), (4, 'Berlín', 'Alemania', '3 479 740'), (5, 'Madrid', 'España', '3 273 049'), (6, 'Kiev', 'Ucrania', '2 815 951'), (7, 'Roma', 'Italia', '2 777 979'), (8, 'París', 'Francia', '2 234 105'), (9, 'Bakú (en Asia y Europa)', 'Azerbaiyán', '2 122 300'), (10, 'Bucarest', 'Rumania', '1 944 451'), (11, 'Minsk', 'Bielorrusia', '1 864 090'), (12, 'Budapest', 'Hungría', '1 721 556'), (13, 'Varsovia', 'Polonia', '1 720 398'), (14, 'Viena', 'Austria', '1 714 142'), (15, 'Tiflis (en Europa y Asia)', 'Georgia', '1 400 000'), (16, 'Praga', 'República Checa', '1 290 211'), (17, 'Sofía', 'Bulgaria', '1 270 284'), (18, 'Belgrado', 'Serbia', '1 213 000'), (19, 'Bruselas', 'Bélgica', '1 125 728'), (20, 'Ereván (en Europa y Asia)', 'Armenia', '1 088 300'), (21, 'Astaná (en Asia)', 'Kazajistán', '880 191'), (22, 'Estocolmo', 'Suecia', '847 073'), (23, 'Ámsterdam', 'Países Bajos', '779 808'), (24, 'Riga', 'Letonia', '700 107'), (25, 'Zagreb', 'Croacia', '686 568'), (26, 'Skopie', 'Macedonia del Norte', '668 518'), (27, 'Chisináu', 'Moldavia', '664 700'), (28, 'Atenas', 'Grecia', '655 780'), (29, 'Oslo', 'Noruega', '599 230'), (30, 'Helsinki', 'Finlandia', '588 549'), (31, 'Lisboa', 'Portugal', '547 733'), (32, 'Vilna', 'Lituania', '542 942'), (33, 'Copenhague', 'Dinamarca', '541 989'), (34, 'Tirana', 'Albania', '540 000'), (35, 'Dublín', 'Irlanda', '527 612'), (36, 'Bratislava', 'Eslovaquia', '446 816'), (37, 'Tallin', 'Estonia', '397 617'), (38, 'Sarajevo', 'Bosnia y Herzegovina', '393 000'), (39, 'Liubliana', 'Eslovenia', '270 828'), (40, 'Podgorica', 'Montenegro', '187 085'), (41, 'Berna', 'Suiza', '125 681'), (42, 'Reikiavik', 'Islandia', '125 165'), (43, 'Luxemburgo', 'Luxemburgo', '100 000'), (44, 'Nicosia (en Europa y Asia)', 'Chipre', '47 832'), (45, 'Andorra la Vieja', 'Andorra', '24 574'), (46, 'La Valeta', 'Malta', '7 650'), (47, 'Vaduz', 'Liechtenstein', '5 214'), (48, 'San Marino', 'San Marino', '4 169'), (49, 'Mónaco', 'Mónaco', '1 151'), (50, 'Ciudad del Vaticano', 'Ciudad del Vaticano', 800)]

In [67]:
#con pd.read_sql_query podemos usar la información de SQL con pandas
df1 = pd.read_sql_query("select * from europa limit 4;", connection)
print(df1)

#ejemplos
print(df1.describe())
print(df1['pais'].value_counts())

   indice  capital         pais  poblacion
0       1    Moscú        Rusia   10190287
1       2  Londres  Reino Unido    8174100
2       3   Ankara      Turquía    4466756
       indice     poblacion
count     3.0  3.000000e+00
mean      2.0  7.610381e+06
std       1.0  2.903108e+06
min       1.0  4.466756e+06
25%       1.5  6.320428e+06
50%       2.0  8.174100e+06
75%       2.5  9.182194e+06
max       3.0  1.019029e+07
Turquía        1
Reino Unido    1
Rusia          1
Name: pais, dtype: int64

In [60]:
# Con el comando DROP TABLE eliminamos la tabla que querramos
cursor.execute("""DROP TABLE america;""")

In [68]:
#hacemos un commit para guardar los cambios
connection.commit()
#cerramos la conección con SQL, ya no podemos acceder a su información
connection.close()

In [69]:
#intentando leer el database vemos que nos muestra un error cuando está cerrado
cur = connection.cursor()
cur.execute("select * from employee limit 2;")
results = cur.fetchall()
print(results)

ProgrammingError: Cannot operate on a closed database.